target/
*/target/*
/target/**
target/**
target/
/target/
target
# which matches 'target' in any sub folder
/model_regras/nbproject/
/webApp/nbproject/
/SB_FRAMEWORK/SBCore/nbproject/
/SB_FRAMEWORK/SBAcessosModel/SBAcessosModel/nbproject/